<nav>
  <a class="menu" href="/"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/lakes">Lakes</a>
  <a class="menu" href="/fish">Add Catch</a>
  <a class="menu" href="/basket">My Basket</a>
</nav>
<section>
  <form id="newCatch" method="POST" action="/fish" enctype="multipart/form-data">
    <div class="input">
        <label for="img">Image</label>
        <input type="file" name="fishImg">
    </div>
    <div class="input">
      <label for="lake">Lake Caught on:</label>
      <input type="text" id="lake" name="lake" placeholder="Enter Lake">
    </div>
    <div class="input">
      <label for="species">Species:</label>
      <input type="text" id="species" name="species" placeholder="Enter Fish Species">
    </div>
    <div class="input">
      <label for="weight">Fish Size:</label>
      <input type="text" id="weight" name="weight" placeholder="Enter Size">
    </div>
    <div class="input">
      <label for="date">Date Caught:</label>
      <input type="text" id="date" name="date" placeholder="Enter Date of Catch">
    </div>
    <div>
      <input type="submit" value="Add Catch">
    </div>
    <div style="display: none">
      <input type="text" name="user" value="{{username}}">
      <input type="text" name="userId" value="{{userId}}">
    </div>
  </form>
</section>
