<nav>
    {{!-- placeholder --}}
</nav>
<div class="centered">
    <img src="../assets/fishly_logo.png" alt="logo"><br>
    <a class="signin_btn" href="/auth/login"><span class="btn-text">Sign In</span></a>
</div>
