<nav>
  {{!-- placeholder --}}
</nav>
<div class="fadeIn login-div container">
   <!-- <img class="login-logo" src="http://i.imgur.com/PgxrRFA.png?1" alt="logo"> -->
   <h1 class="login-title">{{ title }}</h1>
   <a class="login-btn button" href="/auth/login"><span class="btn-text">Sign In</span></a>
</div>
