<nav>
  <a class="menu" href="/"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a class="menu" href="/lakes">Lakes</a>
  <a class="menu" href="/fish">Add Catch</a>
  <a class="menu" href="/basket">My Basket</a>
  <a class="menu" href="/auth/logout">logout</a>
</nav>
<section>
  {{title}}
  {{lake.name}}
</section>
