<nav>
  <a href="/user"><img class="avatar" src="{{avatar}}" alt="avatar"></a>
  <a href="/auth/logout">logout</a>
</nav>
<section>
  <a href="/lakes">Lakes</a>
  <a href="#">Add Catch</a>
  <a href="#">My Basket</a>
</section>
{{title}}
