body {
margin-top: 4%;
}
nav {
  background-color: #795548;
  opacity: 1;
  height: 2.4em;
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}
nav a {
  font-family: Helvetica;
  font-weight: 300;
  text-decoration: none;
  color: white;
  margin: .4em 0;
}

img.avatar {
  width: 1.7em;
  height: 1.7em;
  margin-right: .6em;
  /*position: relative;*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.menu {
  float: right;
  /*margin-left: 2%;*/
  padding-left: 1em;
  padding-right: .4em;
}

.fish_img {
  max-width: 200px;
  max-height: 200px;
}

#updateForm {
  position: absolute;
  display: inline-block;
  float: right;
  height: 300px;
  white-space: normal;
}

.current_entry_data {
  display: inline-block;
  float: left;
  width: 50%;
  white-space: normal;
}

.posting {
  position: relative;
  height: 300px;
  width: 90%;
  margin-bottom: 6%;
  white-space: nowrap;
}

.headings {
  font-weight: bold;
  line-height: 0;
}
